.lastNameSubmitted {
  color: white;
  font-size: 20pt;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  .lastNameSubmitted-greeting{
    font-weight: 300;
    font-style: italic;
  }
  .lastNameSubmitted-name{
    font-weight: 500;
    font-style: normal;
  }
}

.lastNameSubmitted-valid {
  transition-duration: 1s;
  opacity: 1;
  transform: translateX(0px);
}

.lastNameSubmitted-invalid {
  opacity: 0;
  transform: translateX(-20px);
}