.submit {
  border-width: 1px;
  border-style: solid;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 13pt;
  cursor: pointer;
  .submit-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    user-select: none;
    bottom: -0.1em;
  }
  &:focus{
    outline: none;
  }
}

.submit-submit {
  background-color: rgba(255,255,255,0);
  border-color: white;
  color: white;
  &:hover{
    transition-duration: 0.2s
    background-color: rgba(255,255,255,.5);
  }
  &:active{
    background-color: rgba(255,255,255,.25);
  }
}

.submit-error {
  transition-duration: 0.2s;
  background-color: tomato;
  border-color: tomato;
  color: white;
}

.submit-success {
  transition-duration: 0.2s;
  background-color: #A2E284;
  border-color: #A2E284;
  color: white;
}

.submit-loading {
  transition-duration: 0.2s;
  background-color: rgba(255,255,255,0);
  border-color: white;
  color: white;
  opacity: .5
}