heightVar = 30px;
.addHobby {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: content;
  height: heightVar;
  .addHobby-input {
    flex-grow: 1;
    max-width: calc(100% - 40px)
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    background-color: rgba(0,0,0,0);
    color: white;
  }
  .addHobby-button-active {
    cursor: pointer;
    background-color: rgba(162,226,132, 0);
    border-color: white;
    color: white;
    &:hover{
      border-color: rgba(162,226,132, 1);
      color: rgba(162,226,132, 1);
    }
    &:active{
      border-color: rgba(162,226,132, 1);
      background-color: rgba(162,226,132, 1);
      color: white;
    }

  }
  .addHobby-button-inactive {
    background-color: rgba(162,226,132, 0);
    border-color: rgb(150,150,150);
    color: rgb(150,150,150);
  }
  .addHobby-button {
    height: heightVar;
    width: heightVar;    
    border-radius: 50%;
    border-width: 1.5px;
    border-style: solid;
    transition: opacity 0.2s linear;
    font-size: 10pt;
    text-align: center;
    vertical-align: middle;
    .fa-plus{
      margin-top: 3px;
    }
    &:focus{
      outline: none;
    }
  }
}