.hobbies {
  position: relative;
  width: 100%;
  height: 100%;
  .hobbies-container {
    max-height: 132px;
    overflow-y: auto;
  }
  .hobbies-container-active {
    margin-bottom: 5px;
  }
  .hobbies-container-inactive {
    margin-bottom: 0px;
  }
}