.hobby-animation-enter {
  opacity: 0;
  transform: translateX(-20px);
}

.hobby-animation-enter.hobby-animation-enter-active {
  transition-duration: 0.2s;
  opacity: 1;
  transform: translateX(0px);
}

.hobby {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 13pt;
  height: 22px;
  width: max-content;
  padding-left: 10px;
  white-space: nowrap;
  .fa {
    color: rgb(150,150,150);
    margin-right: 5px;
    cursor: pointer;
    &:hover{
      color: white;
    }
    &:active{
      color: rgb(210,210,210);
    }
  }
}